In [1]:
import psycopg2

In [6]:
try:
    conn = psycopg2.connect("dbname=udacity user=student password=student")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres Database")
    print(e)
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)
conn.set_session(autocommit=True)

In [23]:
try:
    cur.execute("alter table music_library add column album_id int")
    cur.execute("alter table music_library add column songs text []")

except psycopg2.Error as e:
    print("Error creating table")
    print(e)

In [24]:
try:
    cur.execute("Insert into music_library (album_id, album_name, artist_name, year, songs) \
    values (%s, %s, %s, %s, %s)", \
               (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think for yourself" ,"In my life"]))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

In [25]:
try:
    cur.execute("Insert into music_library (album_id, album_name, artist_name, year, songs) \
    values (%s, %s, %s, %s, %s)", \
               (2, "Let it be", "The Beatles", 1970, ["Let it be", "Across the Universe"]))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

In [26]:
try:
    cur.execute("Select * from music_library")
except psycopg2.error as e:
    print("Error: select * ")
    print(e)

In [27]:
row = cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

('Rubber Soul', 'The Beatles', 1965, 1, ['Michelle', 'Think for yourself', 'In my life'])
('Let it be', 'The Beatles', 1970, 2, ['Let it be', 'Across the Universe'])

In [31]:
try:
    cur.execute("create table if not exists music_library2 (album_id int, \
    album_name varchar, artist_name varchar, \
    year int, song_name varchar);")
    
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

try:
    cur.execute("Insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
    values (%s, %s, %s, %s, %s)", \
               (1, "Rubber Soul", "The Beatles", 1965, "Michelle"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
    values (%s, %s, %s, %s, %s)", \
               (1, "Rubber Soul", "The Beatles", 1965, "Think for yourself"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
    values (%s, %s, %s, %s, %s)", \
               (1, "Rubber Soul", "The Beatles", 1965, "In my life"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
    values (%s, %s, %s, %s, %s)", \
               (2, "Let it be", "The Beatles", 1970, "Let it be"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
    values (%s, %s, %s, %s, %s)", \
               (2, "Let it be", "The Beatles", 1970, "Across the Universe"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

In [34]:
try:
    cur.execute("create table if not exists album_library (album_id int, \
    album_name varchar, artist_name varchar, \
    year int);")
    
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

try:
    cur.execute("create table if not exists song_library (song_id int, album_id int, \
    song_name varchar);")
    
except psycopg2.Error as e:
    print("Error creating table")
    print(e)
    
try:
    cur.execute("Insert into album_library (album_id, album_name, artist_name, year) \
    values (%s, %s, %s, %s)", \
               (1, "Rubber Soul", "The Beatles", 1965))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into album_library (album_id, album_name, artist_name, year) \
    values (%s, %s, %s, %s)", \
               (2, "Let it be", "The Beatles", 1970))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("Insert into song_library (song_id, album_id, song_name) \
    values (%s, %s, %s)", \
               (1, 1, "Michelle"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into song_library (song_id, album_id, song_name) \
    values (%s, %s, %s)", \
               (2, 1, "Think for yourself"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

try:
    cur.execute("Insert into song_library (song_id, album_id, song_name) \
    values (%s, %s, %s)", \
               (3, 1, "In My Life"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

try:
    cur.execute("Insert into song_library (song_id, album_id, song_name) \
    values (%s, %s, %s)", \
               (4, 2, "Let it be"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("Insert into song_library (song_id, album_id, song_name) \
    values (%s, %s, %s)", \
               (5, 2, "Across the Universe"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

In [35]:
try:
    cur.execute("select * from album_library JOIN \
    song_library on album_library.album_id = song_library.album_id; ")
except psycopg2.error as e:
    print("Error: Select *")
    print(e)

row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 1, 1, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 2, 1, 'Think for yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 3, 1, 'In My Life')
(2, 'Let it be', 'The Beatles', 1970, 4, 2, 'Let it be')
(2, 'Let it be', 'The Beatles', 1970, 5, 2, 'Across the Universe')

In [39]:
try:
    cur.execute("create table if not exists album_library2 (album_id int, \
    album_name varchar, artist_id int, \
    year int);")
    
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

try:
    cur.execute("create table if not exists artist_library (artist_id int, \
    artist_name varchar);")
    
except psycopg2.Error as e:
    print("Error issue creating table")
    print(e)
    
try:
    cur.execute("Insert into album_library2 (album_id, album_name, artist_id, year) \
    values (%s, %s, %s, %s)", \
               (1, "Rubber Soul", 1 , 1965))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e) 

try:
    cur.execute("Insert into album_library2 (album_id, album_name, artist_id, year) \
    values (%s, %s, %s, %s)", \
               (2, "Let it be", 2 , 1970))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("Insert into artist_library (artist_id, artist_name) \
    values (%s, %s)", \
               (1, "The Beatles"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)

In [45]:
try:
    cur.execute("select * from (artist_library JOIN album_library2 on \
    artist_library.artist_id = album_library2.artist_id) JOIN \
                song_library on album_library2.album_id=song_library.album_id; ")
except psycopg2.error as e:
    print("Error: Select *")
    print(e)

row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Michelle')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Think for yourself')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 1, 'In My Life')
(2, 'The Beatles', 2, 'Let it be', 2, 1970, 4, 2, 'Let it be')
(2, 'The Beatles', 2, 'Let it be', 2, 1970, 5, 2, 'Across the Universe')

In [44]:
try:
    cur.execute("Insert into artist_library (artist_id, artist_name) \
    values (%s, %s)", \
               (2, "The Beatles"))

except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)