In [1]:
import psycopg2

In [15]:
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")

In [16]:
cur = conn.cursor()

In [19]:
cur.execute("select * from test123")

In [18]:
cur.execute("create table test1 (col1 int, col2 int);")

In [17]:
conn.set_session(autocommit=True)

In [20]:
cur.execute("select count(*) from test123")

In [21]:
print(cur.fetchall())

[(0,)]

In [22]:
import psycopg2

In [23]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e:
    print("Error: Could not make connection to Postgres Database")
    print(e)

In [24]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

In [26]:
conn.set_session(autocommit=True)

In [27]:
try:
    cur.execute("select * from udacity.music_library")
except psycopg2.Error as e:
    print("Error: database or table doesnot exist")
    print(e)

Error: database or table doesnot exist
relation "udacity.music_library" does not exist
LINE 1: select * from udacity.music_library
                      ^

In [35]:
try:
    cur.execute("create database udacity")
except psycopg2.Error as e:
    print(e)

cursor already closed

In [38]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

try:
    conn = psycopg2.connect("dbname='udacity' user='student' host='localhost' password='student'" )
except psycopg2.Error as e:
    print("Error: Could not make connection to the database")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

conn.set_session(autocommit=True)

In [39]:
try:
    cur.execute("create table if not exists music_library (album_name varchar, artist_name varchar, year int);")
except psycopg2.Error as e:
    print("Error: Could not create table music_library")
    print(e)

In [42]:
try:
    cur.execute("select * from music_library")
except psycopg2.Error as e:
    print("Error: No records found to select from the table music_library")
    print(e)

print(cur.fetchall())

[]

In [56]:
try:
    cur.execute("Insert into music_library (album_name, artist_name, year)\
    values (%s, %s, %s)",\
    ("Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e:
    print("Error: Unable to insert records")
    print (e)

try:
    cur.execute("Insert into music_library (album_name, artist_name, year)\
    values (%s, %s, %s)",\
    ("Let it be", "The Beatles", 1970))
except psycopg2.Error as e:
    print("Error: Unable to insert records")
    print (e)

In [60]:
try:
    cur.execute("Select * from music_library")
except psycopg2.Error as e:
    print("Error: Unable to select records from the table music_library")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Rubber Soul', 'The Beatles', 1965)
('Rubber Soul', 'The Beatles', 1965)
('Let it be', 'The Beatles', 1970)

In [61]:
import cassandra

ModuleNotFoundError: No module named 'cassandra'